<h1>Edit an Appointment!</h1>

<%= form_for(@app) do |f| %>
  <%= f.label :time %>
  <%= f.text_field :time %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.submit %>

<% end %>

<% @app.errors.full_messages.each do |error| %>
<%= error %> <br>
<% end %>
